#=================================================
# https://github.com/wukongdaily/RunFilesBuilder
# Description: Build RunFiles using GitHub Actions
# Lisence: MIT
# Author: wukongdaily
# Blog: wkdaily.cpolar.cn
#=================================================
name: Sync B Releases to A

on:
  workflow_dispatch:

jobs:
  sync-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout A repo
        uses: actions/checkout@v4

      - name: Get all assets
        run: |
          api="https://api.github.com/repos/wkccd/CloudRunFilesBuilder/releases/latest"
          release_json=$(curl -s $api)
          echo "TAG=$(echo "$release_json" | jq -r .tag_name)" >> $GITHUB_ENV
          echo "$release_json" | jq -r '.assets[].browser_download_url' > assets.txt

      - name: Download all assets
        run: |
          mkdir downloads
          while read -r url; do
            echo "Downloading $url"
            curl -L -O "$url"
          done < assets.txt

      - name: Re-publish release in RunFilesBuilder
        uses: softprops/action-gh-release@v2.1.0
        with:
          tag_name: ${{ env.TAG }}
          name: "Daily Build - ${{ env.TAG }}"
          body: "This release is auto-synced from B project daily build."
          files: |
            *.run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
